.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.MuiSelect-select{
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px !important;
}

.css-67qocj-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root::before{
    border-radius: 8px;
    border-bottom-width: 0 !important;
    border: none;
    font-weight: 600;
    font-size: 16px !important;
}

.css-67qocj-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root::after{
    border-radius: 8px;
    border-bottom-width: 0 !important;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.MuiInputLabel-root, .MuiInputLabel-formControl, .MuiInputLabel-animated, .MuiInputLabel-shrink, .MuiInputLabel-filled, .MuiFormLabel-root, .MuiFormLabel-colorPrimary, .MuiFormLabel-filled, .css-1rl43q8{
    color: #AFAFAF !important;
    font-weight: 600;
    font-size: 16px !important;
}