.btn {
    border-style: hidden;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.15rem;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    opacity: 0.5;
}

.btnBlue {
    background: linear-gradient(180deg, var(--color-blue-2), var(--color-blue-1));
    color: #FFFFFF;
}