:root {
    --color-Yellow-1: #FDD153;
    --color-Yellow-2: #F5C02D;
    --color-Yellow-3: #F7B803;

    --color-blue-1: #3198F4;
    --color-blue-2: #64ADEF;
    --color-blue-3: #5AA9EF;
    --color-blue-4: #03063A;

    --color-grey-1: #DFDFDF;

    --color-white-1: #ffffff;
}