.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    border: 1px solid #AFAFAF;
    border-radius: 8px !important;
    font-family: 'Inter' !important;
    background: #fff;
}

.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
    font-family: 'Inter' !important;
    background: #fff;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    background: #fff;
    font-size: 2rem;   
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon{
    background: #fff;
    font-size: 2rem;   
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    background: transparent;
    border: 1px solid #AFAFAF;
    border-radius: 8px !important;
}

.css-o943dk-MuiFormLabel-root-MuiInputLabel-root{
    background: #fff;
    padding: 0 !important;
    margin: 0!important;
    top: -2px;
}

.css-1e88mfs-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-1e88mfs-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-1e88mfs-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    border: 1px solid #AFAFAF;
    border-radius: 8px !important;
    background: #fff;
}